header{
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0px; 
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}

body {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 5em;
  background: whitesmoke;
}




.team-header {
  background-color: lightgrey;
  border-bottom: 5px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.team-logo {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin: 0 10px;
}


#output{
  text-align: center;
  margin-top: 50px;
}

.timeline-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 300px;
}

.outlier-column {
  display: flex;
  align-items: center;
  gap: 50px;
}

.outlier-column.positive {
  flex-direction: row-reverse;
}

.bar {
  width: 40px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  background-color: steelblue;
  border-radius: 4px;
  transition: height 0.3s ease;
}

.bar:hover{
  transform: scale(1.05);
}

.bar.positive{
  background-color: #5cb85c;
}

.bar.positive:hover{
  background-color: #009200;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.87);
}

.bar.negative{
  background-color: #d9534f;
}

.bar.negative:hover{
  background-color: #ce0902;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.87);
}


.bar-label {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  max-width: 500px;
}

.bar:hover .bar-label{
  display: block;
}


.player-headshot {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 5px auto;
  border-radius: 8px;
}


.team-logo-mini {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 5px auto;
  border-radius: 8px;
}